pyvenv.cfg
weather/weather/__pycache__
weather/db.sqlite3
weather/weather/__pycache__/
weather/weather_app/__pycache__/
.DS_Store
db.sqlite3
weather/weather_app/api_keys.txt
chromedriver
weather/weather_app/templates/list_previous.html
weather/weather_app/templates/base_previous.html
.coverage
bin/*
lib/*
weather/htmlcov/
weather/.coveragerc
weather/private.py