body {
    font-family: 'Lato';
    padding: 2rem 3rem;
}

.content {
    text-align: center;
}

.button, .button_add_city {
    background:#5959D1;
    color:#fff;
    outline-color:#bf56ab;
    padding:10px 10px;
    font-size:15px;
    text-transform:uppercase;
    cursor: pointer;
    margin: 10px auto;
    width:250px;
    display: block;
}

#id_name {
    padding:10px 10px;
    font-size:15px;
    outline-color:#fff;
    width:600px;
    border-color: #9d56bf;
    display: block;
    text-align:center;
    margin: auto;
}

table {
    margin: auto;
    width: 80%;
}

td {
    width: 20%;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


#id_text {
    width: 100% !important;
    height: 200px !important;
    resize: none !important;
    word-wrap: break-word;
}

#schedule_table {
    width: 70% !important;
    text-align: justify;
}

.noborders td {
    border:0;
}
