<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="cache-control" content="no-cache" />
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" media="screen">
        <link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Baloo+Thambi+2' rel='stylesheet'>
        <link rel="stylesheet" href="/static/base.css?{% now "U" %}"/>
        <title>Travel planner</title>
    </head>
    <body>
        <div class="content">
            <div class="jumbotron">
                <div class="col-md-12">
                    <h1 class="title">Travel planner</h1>
                    <h2 class="subtitle">Plan your travel knowing weather forecast for places you want to visit</h2>
                    <div class="inputbox">
                        <form method="POST" action="{% block form_action %}{% endblock %}">
                            {% csrf_token %}
                            {{ form.name }}
                            <button type="submit" class="button_add_city" name='add_city'>Add City</button>
                            {% if form.errors %}
                                <div class="form-group has-error">
                                    <div class="help-block">{{ form.name.errors }}</div>
                                </div>
                            {% endif %}
                        </form>
                    </div> <!-- end of class="inputbox" -->
                </div> <!-- end of class="col-md-12" -->
            </div> <!-- end of class="jumbotron" -->
            <div id="table">
                {% block table %}
                {% endblock %}
            </div>
        </div> <!-- end of class="content" -->
    </body>
</html>
