{% extends 'base.html' %}

{% block form_action %}{% url 'view_list' list.id %}{% endblock %}

{% block table %}
    <table id="id_list_table" class="table">
        <tr id="header">
            <th>City</th>
            <th>Weather forecast</th>
            <th>Travel schedule</th>
            <th></th>
        </tr>
        {% for weather in weather_data %}
            <tr>
                <td>{{ weather.city }}</td>
                <td>
                    <img src="http://openweathermap.org/img/wn/{{ weather.icon }}@2x.png" alt="Image" class="center"><br>
                    {{ weather.temperature }} °C and {{ weather.pressure }} hPa<br>
                    {{ weather.description }}
                </td>
                <td id="schedule_table">
                    {{ weather.schedule }}
                    <form method="POST" action="{% url 'add_schedule' weather.id list.id %}">
                        {% csrf_token %}
                        {{ schedule_form.text }}
                        <button type="submit" class="button_save_schedule" name='save_schedule'>Save</button>
                    </form>
                </td>
                <td>
                    <form method="POST" action="{% url 'delete_city' weather.id list.id%}">
                        {% csrf_token %}
                        <input type="image" class="delete_button" src="https://img.icons8.com/windows/40/000000/delete-forever.png" value="Delete">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
